@page
@model Proiect_Muresan_Andrei_Cristian.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Denumire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Platform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Edition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Edition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.ReleasDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.ReleasDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Game.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
